<div class="row mt-3">
  <div class="col-12 col-sm-5 col-md-3 p-3">
    <div class="list-group">
      <a class="list-group-item list-group-item-action" [routerLink]="['/directivas', 'de-atributo']" routerLinkActive="active">
        Directivas de atributo
      </a>
      <a class="list-group-item list-group-item-action" [routerLink]="['/directivas', 'estructurales']" routerLinkActive="active">
        Directivas estructurales
      </a>
      <a class="list-group-item list-group-item-action" [routerLink]="['/directivas', 'componentes']" routerLinkActive="active">
        Directivas de componentes
      </a>
    </div>
  </div>
  <div class="col p-3">
    <router-outlet></router-outlet>
  </div>
</div>
