<div class="card">
  <div class="card-header">Imagen Rota</div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-6">
        <img src="https://www.mdtech.news/u/fotografias/m/2023/8/1/f608x342-25193_54916_0.png" imagenRota
          alt="Imagen existe" class="w-100">
      </div>
      <div class="col-12 col-sm-6">
        <img src="https://www.web-no-existe.com/mi-imagen.png" imagenRota alt="Imagen por defecto" class="w-100">
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">Resaltar Texto</div>
  <div class="card-body">
    <p highlight>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At dicta quis architecto beatae dignissimos voluptatum
      provident ratione error vitae, id iure maiores dolore molestiae officiis voluptates rerum inventore harum unde!
    </p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At dicta quis architecto beatae dignissimos voluptatum
      provident ratione error vitae, id iure maiores dolore molestiae officiis voluptates rerum inventore harum unde!
    </p>
  </div>
</div>
